<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script  src="script.js"></script>
</head>
<body>
  test
    <!-- <meta charset="utf8"> -->

  <button onclick="fade(showDice)">Hide Dice </button>
  <button onclick="unfade(showDice)">Show Dice </button>

  <div id = "showDice">
  <h1>&#9856; One</h1>  
  <h1>&#9857; Two</h1>
  <h1>&#9858; Three</h1>
  <h1>&#9859; Four</h1>
  <h1>&#9860; Five</h1>
  <h1>&#9861; Six</h1>
  test 2 3 4 5 6
  </div>
<scrip src="../templates/script.js">
<!-- // function fade(element) {
//     var op = 1;  // initial opacity
//     var timer = setInterval(function () {
//         if (op <= 0.1){
//             clearInterval(timer);
//             element.style.display = 'none';
//         }
//         element.style.opacity = op;
//         element.style.filter = 'alpha(opacity=' + op * 100 + ")";
//         op -= op * 0.1;
//     }, 50);
// }

// function unfade(element) {
//     var op = 0.1;  // initial opacity
//     element.style.display = 'block';
//     var timer = setInterval(function () {
//         if (op >= 1){
//             clearInterval(timer);
//         }
//         element.style.opacity = op;
//         element.style.filter = 'alpha(opacity=' + op * 100 + ")";
//         op += op * 0.05;
//     }, 10);
} -->
</script>
</body>
 
</html>